// Colors

$background: #EFF0F3;
$primary: #ffffff;
$secondary: #5D47E1;
$text-main: #2B2C34;
$text-secondary: #BDBABC;

// Sizes

$default-width: 80%;

// Spacing
$default-margin: 0 auto;
$default-padding: 10px 35px;